<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>tavernName</key>
		<string>Harmondale</string>
		<key>initialTower</key>
		<integer>15</integer>
		<key>initialWall</key>
		<integer>5</integer>
		<key>finalTower</key>
		<integer>30</integer>
		<key>finalResources</key>
		<integer>100</integer>
		<key>backgroundPicture</key>
		<string>Background14.png</string>
		<key>towerBackground</key>
		<string>TowerWidth.png</string>
		<key>towerHeadPlayerBackground</key>
		<string>TowerHeader2.png</string>
		<key>towerHeadComputerBackground</key>
		<string>TowerHeader3.png</string>
		<key>wallBackground</key>
		<string>WallWidth.png</string>
		<key>backgroundMusic</key>
		<string>NoData</string>
		<key>imageForTavern</key>
		<string>TavernPreview.jpg</string>
		<key>isAchieved</key>
		<false/>
	</dict>
	<dict>
		<key>tavernName</key>
		<string>Tularean Forest</string>
		<key>initialTower</key>
		<integer>20</integer>
		<key>initialWall</key>
		<integer>5</integer>
		<key>finalTower</key>
		<integer>50</integer>
		<key>finalResources</key>
		<integer>150</integer>
		<key>backgroundPicture</key>
		<string>Background13.png</string>
		<key>towerBackground</key>
		<string>TowerWidth2.png</string>
		<key>towerHeadPlayerBackground</key>
		<string>TowerHeaderPlayer2.png</string>
		<key>towerHeadComputerBackground</key>
		<string>TowerHeaderComputer2.png</string>
		<key>wallBackground</key>
		<string>WallWidth2.png</string>
		<key>backgroundMusic</key>
		<string>NoData</string>
		<key>imageForTavern</key>
		<string>TavernPreview.jpg</string>
		<key>isAchieved</key>
		<false/>
	</dict>
	<dict>
		<key>tavernName</key>
		<string>Erathia</string>
		<key>initialTower</key>
		<integer>20</integer>
		<key>initialWall</key>
		<integer>5</integer>
		<key>finalTower</key>
		<integer>50</integer>
		<key>finalResources</key>
		<integer>150</integer>
		<key>backgroundPicture</key>
		<string>Background12.png</string>
		<key>towerBackground</key>
		<string>TowerWidth3.png</string>
		<key>towerHeadPlayerBackground</key>
		<string>TowerHeaderPlayer3.png</string>
		<key>towerHeadComputerBackground</key>
		<string>TowerHeaderComputer3.png</string>
		<key>wallBackground</key>
		<string>WallWidth3.png</string>
		<key>backgroundMusic</key>
		<string>NoData</string>
		<key>imageForTavern</key>
		<string>TavernPreview.jpg</string>
		<key>isAchieved</key>
		<false/>
	</dict>
	<dict>
		<key>tavernName</key>
		<string>Bracada Desert</string>
		<key>initialTower</key>
		<integer>25</integer>
		<key>initialWall</key>
		<integer>10</integer>
		<key>finalTower</key>
		<integer>75</integer>
		<key>finalResources</key>
		<integer>200</integer>
		<key>backgroundPicture</key>
		<string>Background11.png</string>
		<key>towerBackground</key>
		<string>TowerWidth4.png</string>
		<key>towerHeadPlayerBackground</key>
		<string>TowerHeaderPlayer4.png</string>
		<key>towerHeadComputerBackground</key>
		<string>TowerHeaderComputer4.png</string>
		<key>wallBackground</key>
		<string>WallWidth4.png</string>
		<key>backgroundMusic</key>
		<string>NoData</string>
		<key>imageForTavern</key>
		<string>TavernPreview.jpg</string>
		<key>isAchieved</key>
		<false/>
	</dict>
	<dict>
		<key>tavernName</key>
		<string>Deyja</string>
		<key>initialTower</key>
		<integer>25</integer>
		<key>initialWall</key>
		<integer>10</integer>
		<key>finalTower</key>
		<integer>75</integer>
		<key>finalResources</key>
		<integer>200</integer>
		<key>backgroundPicture</key>
		<string>Background10.png</string>
		<key>towerBackground</key>
		<string>TowerWidth5.png</string>
		<key>towerHeadPlayerBackground</key>
		<string>TowerHeaderPlayer5.png</string>
		<key>towerHeadComputerBackground</key>
		<string>TowerHeaderComputer5.png</string>
		<key>wallBackground</key>
		<string>WallWidth5.png</string>
		<key>backgroundMusic</key>
		<string>NoData</string>
		<key>imageForTavern</key>
		<string>TavernPreview.jpg</string>
		<key>isAchieved</key>
		<false/>
	</dict>
	<dict>
		<key>tavernName</key>
		<string>Stone City</string>
		<key>initialTower</key>
		<integer>50</integer>
		<key>initialWall</key>
		<integer>50</integer>
		<key>finalTower</key>
		<integer>100</integer>
		<key>finalResources</key>
		<integer>300</integer>
		<key>backgroundPicture</key>
		<string>Background9.png</string>
		<key>towerBackground</key>
		<string>TowerWidth6.png</string>
		<key>towerHeadPlayerBackground</key>
		<string>TowerHeaderPlayer6.png</string>
		<key>towerHeadComputerBackground</key>
		<string>TowerHeaderComputer6.png</string>
		<key>wallBackground</key>
		<string>WallWidth6.png</string>
		<key>backgroundMusic</key>
		<string>NoData</string>
		<key>imageForTavern</key>
		<string>TavernPreview.jpg</string>
		<key>isAchieved</key>
		<false/>
	</dict>
	<dict>
		<key>tavernName</key>
		<string>Barrow Drowns</string>
		<key>initialTower</key>
		<integer>20</integer>
		<key>initialWall</key>
		<integer>50</integer>
		<key>finalTower</key>
		<integer>100</integer>
		<key>finalResources</key>
		<integer>300</integer>
		<key>backgroundPicture</key>
		<string>Background5.png</string>
		<key>towerBackground</key>
		<string>TowerWidth.png</string>
		<key>towerHeadPlayerBackground</key>
		<string>TowerHeader2.png</string>
		<key>towerHeadComputerBackground</key>
		<string>TowerHeader3.png</string>
		<key>wallBackground</key>
		<string>WallWidth.png</string>
		<key>backgroundMusic</key>
		<string>NoData</string>
		<key>imageForTavern</key>
		<string>TavernPreview.jpg</string>
		<key>isAchieved</key>
		<false/>
	</dict>
	<dict>
		<key>tavernName</key>
		<string>Celeste</string>
		<key>initialTower</key>
		<integer>30</integer>
		<key>initialWall</key>
		<integer>15</integer>
		<key>finalTower</key>
		<integer>100</integer>
		<key>finalResources</key>
		<integer>300</integer>
		<key>backgroundPicture</key>
		<string>Background4.jpg</string>
		<key>towerBackground</key>
		<string>TowerWidth.png</string>
		<key>towerHeadPlayerBackground</key>
		<string>TowerHeader2.png</string>
		<key>towerHeadComputerBackground</key>
		<string>TowerHeader3.png</string>
		<key>wallBackground</key>
		<string>WallWidth.png</string>
		<key>backgroundMusic</key>
		<string>NoData</string>
		<key>imageForTavern</key>
		<string>TavernPreview.jpg</string>
		<key>isAchieved</key>
		<false/>
	</dict>
	<dict>
		<key>tavernName</key>
		<string>The Pit</string>
		<key>initialTower</key>
		<integer>30</integer>
		<key>initialWall</key>
		<integer>15</integer>
		<key>finalTower</key>
		<integer>100</integer>
		<key>finalResources</key>
		<integer>300</integer>
		<key>backgroundPicture</key>
		<string>Background3.png</string>
		<key>towerBackground</key>
		<string>TowerWidth.png</string>
		<key>towerHeadPlayerBackground</key>
		<string>TowerHeader2.png</string>
		<key>towerHeadComputerBackground</key>
		<string>TowerHeader3.png</string>
		<key>wallBackground</key>
		<string>WallWidth.png</string>
		<key>backgroundMusic</key>
		<string>NoData</string>
		<key>imageForTavern</key>
		<string>TavernPreview.jpg</string>
		<key>isAchieved</key>
		<false/>
	</dict>
	<dict>
		<key>tavernName</key>
		<string>Avlee</string>
		<key>initialTower</key>
		<integer>10</integer>
		<key>initialWall</key>
		<integer>20</integer>
		<key>finalTower</key>
		<integer>125</integer>
		<key>finalResources</key>
		<integer>350</integer>
		<key>backgroundPicture</key>
		<string>Background2.png</string>
		<key>towerBackground</key>
		<string>TowerWidth.png</string>
		<key>towerHeadPlayerBackground</key>
		<string>TowerHeader2.png</string>
		<key>towerHeadComputerBackground</key>
		<string>TowerHeader3.png</string>
		<key>wallBackground</key>
		<string>WallWidth.png</string>
		<key>backgroundMusic</key>
		<string>NoData</string>
		<key>imageForTavern</key>
		<string>TavernPreview.jpg</string>
		<key>isAchieved</key>
		<false/>
	</dict>
	<dict>
		<key>tavernName</key>
		<string>Tatalia</string>
		<key>initialTower</key>
		<integer>10</integer>
		<key>initialWall</key>
		<integer>20</integer>
		<key>finalTower</key>
		<integer>125</integer>
		<key>finalResources</key>
		<integer>350</integer>
		<key>backgroundPicture</key>
		<string>Background.png</string>
		<key>towerBackground</key>
		<string>TowerWidth.png</string>
		<key>towerHeadPlayerBackground</key>
		<string>TowerHeader2.png</string>
		<key>towerHeadComputerBackground</key>
		<string>TowerHeader3.png</string>
		<key>wallBackground</key>
		<string>WallWidth.png</string>
		<key>backgroundMusic</key>
		<string>NoData</string>
		<key>imageForTavern</key>
		<string>TavernPreview.jpg</string>
		<key>isAchieved</key>
		<false/>
	</dict>
	<dict>
		<key>tavernName</key>
		<string>Evermorn Isle</string>
		<key>initialTower</key>
		<integer>20</integer>
		<key>initialWall</key>
		<integer>10</integer>
		<key>finalTower</key>
		<integer>150</integer>
		<key>finalResources</key>
		<integer>400</integer>
		<key>backgroundPicture</key>
		<string>Background15.png</string>
		<key>towerBackground</key>
		<string>TowerWidth.png</string>
		<key>towerHeadPlayerBackground</key>
		<string>TowerHeader2.png</string>
		<key>towerHeadComputerBackground</key>
		<string>TowerHeader3.png</string>
		<key>wallBackground</key>
		<string>WallWidth.png</string>
		<key>backgroundMusic</key>
		<string>NoData</string>
		<key>imageForTavern</key>
		<string>TavernPreview.jpg</string>
		<key>isAchieved</key>
		<false/>
	</dict>
	<dict>
		<key>tavernName</key>
		<string>Nighon</string>
		<key>initialTower</key>
		<integer>20</integer>
		<key>initialWall</key>
		<integer>10</integer>
		<key>finalTower</key>
		<integer>200</integer>
		<key>finalResources</key>
		<integer>500</integer>
		<key>backgroundPicture</key>
		<string>Background16.png</string>
		<key>towerBackground</key>
		<string>TowerWidth.png</string>
		<key>towerHeadPlayerBackground</key>
		<string>TowerHeader2.png</string>
		<key>towerHeadComputerBackground</key>
		<string>TowerHeader3.png</string>
		<key>wallBackground</key>
		<string>WallWidth.png</string>
		<key>backgroundMusic</key>
		<string>NoData</string>
		<key>imageForTavern</key>
		<string>TavernPreview.jpg</string>
		<key>isAchieved</key>
		<false/>
	</dict>
</array>
</plist>
