<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>tavernName</key>
		<string>Harmondale</string>
		<key>initialTower</key>
		<integer>15</integer>
		<key>initialWall</key>
		<integer>5</integer>
		<key>finalTower</key>
		<integer>30</integer>
		<key>finalResources</key>
		<integer>100</integer>
		<key>backgroundPicture</key>
		<string>Background1.jpg</string>
		<key>towerBackground</key>
		<string>TowerBody1.png</string>
		<key>towerHeadPlayerBackground</key>
		<string>PlayersTowerHead1.png</string>
		<key>towerHeadComputerBackground</key>
		<string>ComputersTowerHead1.png</string>
		<key>wallBackground</key>
		<string>WallBody1.png</string>
		<key>backgroundMusic</key>
		<string>01-CantusPaganus</string>
		<key>imageForTavern</key>
		<string>TavernPreview00.jpg</string>
		<key>isAchieved</key>
		<false/>
	</dict>
	<dict>
		<key>tavernName</key>
		<string>Tularean Forest</string>
		<key>initialTower</key>
		<integer>20</integer>
		<key>initialWall</key>
		<integer>5</integer>
		<key>finalTower</key>
		<integer>50</integer>
		<key>finalResources</key>
		<integer>150</integer>
		<key>backgroundPicture</key>
		<string>Background2.jpg</string>
		<key>towerBackground</key>
		<string>TowerBody2.png</string>
		<key>towerHeadPlayerBackground</key>
		<string>PlayersTowerHead2.png</string>
		<key>towerHeadComputerBackground</key>
		<string>ComputersTowerHead2.png</string>
		<key>wallBackground</key>
		<string>WallBody2.png</string>
		<key>backgroundMusic</key>
		<string>03-Bordeaux</string>
		<key>imageForTavern</key>
		<string>TavernPreview01.jpg</string>
		<key>isAchieved</key>
		<false/>
	</dict>
	<dict>
		<key>tavernName</key>
		<string>Erathia</string>
		<key>initialTower</key>
		<integer>20</integer>
		<key>initialWall</key>
		<integer>5</integer>
		<key>finalTower</key>
		<integer>50</integer>
		<key>finalResources</key>
		<integer>150</integer>
		<key>backgroundPicture</key>
		<string>Background3.jpg</string>
		<key>towerBackground</key>
		<string>TowerBody3.png</string>
		<key>towerHeadPlayerBackground</key>
		<string>PlayersTowerHead3.png</string>
		<key>towerHeadComputerBackground</key>
		<string>ComputersTowerHead3.png</string>
		<key>wallBackground</key>
		<string>WallBody3.png</string>
		<key>backgroundMusic</key>
		<string>04-RencontreAStChartier</string>
		<key>imageForTavern</key>
		<string>TavernPreview02.jpg</string>
		<key>isAchieved</key>
		<false/>
	</dict>
	<dict>
		<key>tavernName</key>
		<string>Bracada Desert</string>
		<key>initialTower</key>
		<integer>25</integer>
		<key>initialWall</key>
		<integer>10</integer>
		<key>finalTower</key>
		<integer>75</integer>
		<key>finalResources</key>
		<integer>200</integer>
		<key>backgroundPicture</key>
		<string>Background4.jpg</string>
		<key>towerBackground</key>
		<string>TowerBody4.png</string>
		<key>towerHeadPlayerBackground</key>
		<string>PlayersTowerHead4.png</string>
		<key>towerHeadComputerBackground</key>
		<string>ComputersTowerHead4.png</string>
		<key>wallBackground</key>
		<string>WallBody4.png</string>
		<key>backgroundMusic</key>
		<string>05-MorningSong</string>
		<key>imageForTavern</key>
		<string>TavernPreview03.jpg</string>
		<key>isAchieved</key>
		<false/>
	</dict>
	<dict>
		<key>tavernName</key>
		<string>Deyja</string>
		<key>initialTower</key>
		<integer>25</integer>
		<key>initialWall</key>
		<integer>10</integer>
		<key>finalTower</key>
		<integer>75</integer>
		<key>finalResources</key>
		<integer>200</integer>
		<key>backgroundPicture</key>
		<string>Background5.jpg</string>
		<key>towerBackground</key>
		<string>TowerBody5.png</string>
		<key>towerHeadPlayerBackground</key>
		<string>PlayersTowerHead5.png</string>
		<key>towerHeadComputerBackground</key>
		<string>ComputersTowerHead5.png</string>
		<key>wallBackground</key>
		<string>WallBody5.png</string>
		<key>backgroundMusic</key>
		<string>06-Molendinar</string>
		<key>imageForTavern</key>
		<string>TavernPreview04.jpg</string>
		<key>isAchieved</key>
		<false/>
	</dict>
	<dict>
		<key>tavernName</key>
		<string>Stone City</string>
		<key>initialTower</key>
		<integer>50</integer>
		<key>initialWall</key>
		<integer>50</integer>
		<key>finalTower</key>
		<integer>100</integer>
		<key>finalResources</key>
		<integer>300</integer>
		<key>backgroundPicture</key>
		<string>Background6.jpg</string>
		<key>towerBackground</key>
		<string>TowerBody6.png</string>
		<key>towerHeadPlayerBackground</key>
		<string>PlayersTowerHead6.png</string>
		<key>towerHeadComputerBackground</key>
		<string>ComputersTowerHead6.png</string>
		<key>wallBackground</key>
		<string>WallBody6.png</string>
		<key>backgroundMusic</key>
		<string>08-LaRotta</string>
		<key>imageForTavern</key>
		<string>TavernPreview05.jpg</string>
		<key>isAchieved</key>
		<false/>
	</dict>
	<dict>
		<key>tavernName</key>
		<string>Barrow Drowns</string>
		<key>initialTower</key>
		<integer>20</integer>
		<key>initialWall</key>
		<integer>50</integer>
		<key>finalTower</key>
		<integer>100</integer>
		<key>finalResources</key>
		<integer>300</integer>
		<key>backgroundPicture</key>
		<string>Background7.jpg</string>
		<key>towerBackground</key>
		<string>TowerBody7.png</string>
		<key>towerHeadPlayerBackground</key>
		<string>PlayersTowerHead7.png</string>
		<key>towerHeadComputerBackground</key>
		<string>ComputersTowerHead7.png</string>
		<key>wallBackground</key>
		<string>WallBody7.png</string>
		<key>backgroundMusic</key>
		<string>09-NonPuescSofrirQuaLaDolor</string>
		<key>imageForTavern</key>
		<string>TavernPreview06.jpg</string>
		<key>isAchieved</key>
		<false/>
	</dict>
	<dict>
		<key>tavernName</key>
		<string>Celeste</string>
		<key>initialTower</key>
		<integer>30</integer>
		<key>initialWall</key>
		<integer>15</integer>
		<key>finalTower</key>
		<integer>100</integer>
		<key>finalResources</key>
		<integer>300</integer>
		<key>backgroundPicture</key>
		<string>Background8.jpg</string>
		<key>towerBackground</key>
		<string>TowerBody8.png</string>
		<key>towerHeadPlayerBackground</key>
		<string>PlayersTowerHead8.png</string>
		<key>towerHeadComputerBackground</key>
		<string>ComputersTowerHead8.png</string>
		<key>wallBackground</key>
		<string>WallBody8.png</string>
		<key>backgroundMusic</key>
		<string>10-OufrezMoiLaPorte</string>
		<key>imageForTavern</key>
		<string>TavernPreview07.jpg</string>
		<key>isAchieved</key>
		<false/>
	</dict>
	<dict>
		<key>tavernName</key>
		<string>The Pit</string>
		<key>initialTower</key>
		<integer>30</integer>
		<key>initialWall</key>
		<integer>15</integer>
		<key>finalTower</key>
		<integer>100</integer>
		<key>finalResources</key>
		<integer>300</integer>
		<key>backgroundPicture</key>
		<string>Background9.jpg</string>
		<key>towerBackground</key>
		<string>TowerBody9.png</string>
		<key>towerHeadPlayerBackground</key>
		<string>PlayersTowerHead9.png</string>
		<key>towerHeadComputerBackground</key>
		<string>ComputersTowerHead9.png</string>
		<key>wallBackground</key>
		<string>WallBody9.png</string>
		<key>backgroundMusic</key>
		<string>11-ChaconettaTedescha</string>
		<key>imageForTavern</key>
		<string>TavernPreview08.jpg</string>
		<key>isAchieved</key>
		<false/>
	</dict>
	<dict>
		<key>tavernName</key>
		<string>Avlee</string>
		<key>initialTower</key>
		<integer>10</integer>
		<key>initialWall</key>
		<integer>20</integer>
		<key>finalTower</key>
		<integer>125</integer>
		<key>finalResources</key>
		<integer>350</integer>
		<key>backgroundPicture</key>
		<string>Background10.jpg</string>
		<key>towerBackground</key>
		<string>TowerBody10.png</string>
		<key>towerHeadPlayerBackground</key>
		<string>PlayersTowerHead10.png</string>
		<key>towerHeadComputerBackground</key>
		<string>ComputersTowerHead10.png</string>
		<key>wallBackground</key>
		<string>WallBody10.png</string>
		<key>backgroundMusic</key>
		<string>12-ThePrettyHarvestress</string>
		<key>imageForTavern</key>
		<string>TavernPreview09.jpg</string>
		<key>isAchieved</key>
		<false/>
	</dict>
	<dict>
		<key>tavernName</key>
		<string>Tatalia</string>
		<key>initialTower</key>
		<integer>10</integer>
		<key>initialWall</key>
		<integer>20</integer>
		<key>finalTower</key>
		<integer>125</integer>
		<key>finalResources</key>
		<integer>350</integer>
		<key>backgroundPicture</key>
		<string>Background11.jpg</string>
		<key>towerBackground</key>
		<string>TowerBody11.png</string>
		<key>towerHeadPlayerBackground</key>
		<string>PlayersTowerHead11.png</string>
		<key>towerHeadComputerBackground</key>
		<string>ComputersTowerHead11.png</string>
		<key>wallBackground</key>
		<string>WallBody11.png</string>
		<key>backgroundMusic</key>
		<string>13-BayofDouarnenez</string>
		<key>imageForTavern</key>
		<string>TavernPreview10.jpg</string>
		<key>isAchieved</key>
		<false/>
	</dict>
	<dict>
		<key>tavernName</key>
		<string>Evermorn Isle</string>
		<key>initialTower</key>
		<integer>20</integer>
		<key>initialWall</key>
		<integer>10</integer>
		<key>finalTower</key>
		<integer>150</integer>
		<key>finalResources</key>
		<integer>400</integer>
		<key>backgroundPicture</key>
		<string>Background12.jpg</string>
		<key>towerBackground</key>
		<string>TowerBody12.png</string>
		<key>towerHeadPlayerBackground</key>
		<string>PlayersTowerHead12.png</string>
		<key>towerHeadComputerBackground</key>
		<string>ComputersTowerHead12.png</string>
		<key>wallBackground</key>
		<string>WallBody12.png</string>
		<key>backgroundMusic</key>
		<string>14-StellaSplendens</string>
		<key>imageForTavern</key>
		<string>TavernPreview11.jpg</string>
		<key>isAchieved</key>
		<false/>
	</dict>
	<dict>
		<key>tavernName</key>
		<string>Nighon</string>
		<key>initialTower</key>
		<integer>20</integer>
		<key>initialWall</key>
		<integer>10</integer>
		<key>finalTower</key>
		<integer>200</integer>
		<key>finalResources</key>
		<integer>500</integer>
		<key>backgroundPicture</key>
		<string>Background13.jpg</string>
		<key>towerBackground</key>
		<string>TowerBody13.png</string>
		<key>towerHeadPlayerBackground</key>
		<string>PlayersTowerHead13.png</string>
		<key>towerHeadComputerBackground</key>
		<string>ComputersTowerHead13.png</string>
		<key>wallBackground</key>
		<string>WallBody12.png</string>
		<key>backgroundMusic</key>
		<string>15-TirNaN&apos;og</string>
		<key>imageForTavern</key>
		<string>TavernPreview12.jpg</string>
		<key>isAchieved</key>
		<false/>
	</dict>
</array>
</plist>
